.add-info {
  z-index: 2;
  width: 32%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .4);
  color: #fff;
  padding: 30px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.add-info__title {
  font-size: 30px;
  margin: 0;
  border-top: 3px solid #ed6e4d;
  padding-top: 20px;
}

.add-info__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.add-info__list-el {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 23px;
  margin: 0 0 14px 0;
}

.add-info__list-el:first-of-type {
  margin: 20px 0 14px 0;
}

.add-info__list-ellast-of-type {
  margin: 0;
}


.add-info__form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.add-info__input {
  width: 100%;
  border: none;
  background-color: transparent;
  color: #fff;
  border-bottom: 3px solid #ed6e4d;
  font-size: 30px;
  letter-spacing: 4px;
  margin: 0;
  padding: 8px 0;
}

.add-info__submit-btn {
  width: 50px;
  height: auto;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #ed6e4d;
  padding: 6px;
  box-sizing: border-box;
  color: #fff;
}

.add-info__submit-btn:hover {
  cursor: pointer;
}

.add-info__search-pic {
  width: 100%;
}

.add-info__search-pic:hover {
  opacity: .6;
}

.add-info__list-el_type_city:hover {
  cursor: pointer;
  opacity: .6;
}


.add-info__box-weather {
  margin: 0;
  margin-bottom: 20px;
}

.add-info__cities {
  margin: 0;
  margin-bottom: 20px;
}


.add-info__map {
  width: 100%;
  min-height: 150px;
  max-height: 300px;
  box-sizing: border-box;
  display: block;
  flex-grow: 1;
}



@media screen and (max-width: 1100px) {
  .add-info {
    padding: 30px 20px;
  }

  .add-info__title {
    font-size: 24px;
    padding-top: 16px;
  }

  .add-info__list-el {
    font-size: 18px;
    margin: 0 0 12px 0;
  }

  .add-info__input {
    font-size: 24px;
    padding: 4px 0;
  }

  .add-info__submit-btn {
    width: 40px;
  }

  .add-info__data {
    letter-spacing: 1.6px;
  }
}


@media screen and (max-width: 859px) {
  .add-info {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, .8);
    padding: 30px 30px;
  }
}
